@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.path-0 {
  animation: pathAnim-0 6s linear infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 L 0,100 C 112.4,106.28 224.85,112.57 343,115 C 461.14,117.42 585,116 709,103 C 833,90 957.14,65.42 1079,63 C 1200.85,60.57 1320.42,80.28 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,100 C 81.5,69.14 163,38.28 302,51 C 440.92,63.71 637.25,120 758,137 C 878.75,154 923.92,131.71 1025,119 C 1126.07,106.28 1283.03,103.14 1440,100 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,100 C 112.4,106.28 224.85,112.57 343,115 C 461.14,117.42 585,116 709,103 C 833,90 957.14,65.42 1079,63 C 1200.85,60.57 1320.42,80.28 1440,100 L 1440,400 L 0,400 Z"
    );
  }
}

.path-1 {
  animation: pathAnim-1 6s linear infinite;
}

@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,400 L 0,233 C 126.53,240.1 253.07,247.21 360,254 C 466.92,260.78 554.24,267.25 687,252 C 819.75,236.75 997.92,199.78 1131,193 C 1264.07,186.21 1352.03,209.6 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  50% {
    d: path(
      "M 0,400 L 0,233 C 107.21,201.89 214.42,170.78 356,184 C 497.57,197.21 673.5,254.75 779,263 C 884.5,271.25 919.57,230.21 1018,217 C 1116.42,203.78 1278.21,218.39 1440,233 L 1440,400 L 0,400 Z"
    );
  }
  100% {
    d: path(
      "M 0,400 L 0,233 C 126.53,240.1 253.07,247.21 360,254 C 466.92,260.78 554.24,267.25 687,252 C 819.75,236.75 997.92,199.78 1131,193 C 1264.07,186.21 1352.03,209.6 1440,233 L 1440,400 L 0,400 Z"
    );
  }
}
